h1 { color:royalblue;
}
img {
    width: 400px;
    
}
#thirdDiv {
    width: 500px;
    height: 900px;
    background-color: beige;
    padding: 80px;
    border: 10px double rosybrown;

}
#spanId {
    font-size: 18px;
    margin: 50px;
} 